.eventProductor {
    padding: 40px 145px;
}

.eventProductor > h3{
    font-weight: lighter;
    padding: 25px;
}

.eventProductor_main {
    display: flex;
}

.eventProductor_avatar {
    margin-left: 25px;
}

.eventProductor_avatar > .MuiAvatar-root {
    height: 100px;
    width: 100px;
}

.eventProductor_info {
    margin-left: 25px;
}

.eventProductor_more {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    width: 320px;
}

.eventProductor_more > .MuiButton-root {
    color: grey;
    border-color: black;
    text-transform: none;
    box-sizing: border-box;
    padding: 10px 15px;
}

@media (max-width: 600px) {
    .eventProductor {
        padding: 20px;
        text-align: center;
    }

    .eventProductor_main {
        flex-flow: column;
        justify-content: center;
    }

    .eventProductor_info {
        margin-left: 0px;
        box-sizing: border-box;
        padding: 10px 5px;
    }

    .eventProductor_avatar{
        margin-left: 0px;
        align-self: center;
    }

    .eventProductor_more {
        flex-flow: column;
        width: 100%;
    }

    .eventProductor_more > .MuiButton-root {
        margin-top: 15px;
    }

}
