.eventDescription {
    padding: 40px 105px;
    background-color: #f3f3f3;
}

.eventDescription > h3{
    padding: 25px;
}

.eventDescription_detail {
    width: 75%;
    padding: 0px 25px;   
}

@media (max-width: 600px) {
    .eventDescription {
        padding: 40px 20px;
    }
}