.eventInfo {
    width: 750px;
    margin-top: 25px;
    margin-left: 145px;
}

.eventInfo_content {
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
}

.eventInfo_content > h1 {
    font-family: 'Raleway', sans-serif;
    line-height: 100%;
    font-size: 30px;
    letter-spacing: 0.2px;
    color: #50525f;
    margin-bottom: 15px;
}

.eventInfo_contentLocation {
    display: flex;
}

.eventInfo_contentLocation > p {
    margin-left: 5px;
    letter-spacing: 0.2px;
    font-size: 12px;
}

.eventInfo_contentLocation > .MuiSvgIcon-root {
    font-size: 15px;
}

@media (max-width: 600px) {
    .eventInfo {
        width: 100%;
        margin-left: 0;
    }
    .eventInfo_content > h1 {
        font-size: 25px;
    }
}